.trustedCompanyContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.trustedCompanyLogos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media (max-width: 600px) {
  .trustedCompanyLogos {
    overflow-x: scroll;
    gap: 18px;
    margin: 40px 0;
  }
  .trustedCompanyContainer {
    gap: 0px;
  }
}
