.container {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin: 20px;
  background-color: #b5c0c9;
}

.container video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: fill;
  z-index: -1;
  size: 62.25px;
}

.container h1 {
  font-size: 62.25px;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
}
.container span {
  font-size: 24px;
  color: #9b9b9a;
  font-weight: 700;
}

.contentArea {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  position: absolute;
  bottom: 0;
  left: -90px;
}

.impact {
  color: #000000;
  font-size: 120px;
  font-weight: 700;
}
.create {
  color: #97979b;
  font-size: 120px;
  font-weight: 700;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
    height: 200px;
    padding: 1px;
  }

  .container video {
    object-fit: cover;
  }

  .container h1 {
    font-size: 40px;
  }

  .container span {
    font-size: 14px;
    color: #9b9b9a;
    font-weight: 700;
  }

  .background {
    position: absolute;
    bottom: -35px;
    left: -270px;
    width: 100%;
  }

  .impact {
    font-size: 35px;
  }
  .create {
    font-size: 35px;
  }
}
