.container {
  position: relative;
  width: 100%;
  height: 700px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.container video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: fill;
  z-index: -1;
  size: 62.25px;
}

.container h1 {
  font-size: 62.25px;
}
.container span {
  font-size: 24px;
  color: #9b9b9a;
  font-weight: 700;
}

.contentArea {
  width: 50%;
  height: 100%;
}
.formArea {
  width: 50%;
}
.form {
  width: 637px;
  height: 666px;
  background-color: #ffffff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
  border-radius: 10px;
}

.name {
  display: flex;
  flex-direction: column;
  width: 557px;
  height: 44px;
}

.name input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 5px;
  font-size: 16px;
  border-bottom: 2px solid rgb(0, 0, 0);
}

.name span {
  font-size: 16px;
  font-weight: 700;
  color: #000000;
}

.company_Email {
  display: flex;
  justify-content: space-around;
}

.company {
  display: flex;
  flex-direction: column;
  width: 253.5px;
  height: 44px;
}
.company input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 5px;
  font-size: 16px;
  border-bottom: 2px solid rgb(0, 0, 0);
}

.company span {
  font-size: 16px;
  font-weight: 700;
  color: #000000;
}

.email {
  display: flex;
  flex-direction: column;
  width: 253.5px;
  height: 44px;
}

.email input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 5px;
  font-size: 16px;
  border-bottom: 2px solid rgb(0, 0, 0);
}

.email span {
  font-size: 16px;
  font-weight: 700;
  color: #000000;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
    height: 100%;
    padding: 1px;
  }

  .container video {
    object-fit: cover;
  }

  .container h1 {
    font-size: 40px;
  }

  .container span {
    font-size: 14px;
    color: #9b9b9a;
    font-weight: 700;
  }

  .formArea {
    width: 100%;
  }
  .form {
    width: 100%;
  }
  .name {
    width: 100%;
  }
  .email {
    width: 50%;
  }
  .company {
    width: 50%;
  }
}
