.NavBarmenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}
.menuListName {
  list-style-type: none;
  display: flex;
  gap: 10px;
}
.menuListName li {
  padding: 5px 10px;
}

.menuButton {
  color: black;
  background-color: #ffac33;
  border-radius: 100px;
  width: 132px;
  height: 42px;
  border: none;
  font-weight: 700;
  padding: 12px 24px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.menuButton:hover {
  background-color: #ffa825d8;
  transform: scale(1.05);
}

.menuOpen {
  display: none;
}

@media (max-width: 1024px) {
  .menuOpen {
    display: none;
  }
}
@media (max-width: 600px) {
  .menuList {
    display: none;
  }
  .menuButton {
    display: none;
    
  }
  .menuOpen {
    background-color: transparent;
    width: 70px;
    height: 55px;
    border: none;
    font-weight: 700;
    display: inline;
  }
  .menuicon {
    display: flex;
  }

  .NavBarmenu {
    padding: 0 5px;
  }
}
