.menuContainer {
  position: absolute; /* Allows it to overlap */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
  color: white;
  z-index: 100; /* Ensures it stays above other content */
  padding: 20px;
}
.menuList {
  display: flex;
  justify-content: center;
}
.menuListName {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.menuListName li {
  padding: 5px 10px;
  cursor: pointer;
  font-size: 24px;
}

.menuClose {
  background-color: transparent;
  width: 112px;
  height: 42px;
  border: none;
  font-weight: 700;
  display: inline;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.menuButton {
  color: black;
  background-color: #ffac33;
  border-radius: 100px;
  width: 132px;
  height: 42px;
  border: none;
  font-weight: 700;
  padding: 12px 24px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.menuButton:hover {
  background-color: #ffa825d8;
  transform: scale(1.05);
}
