.frequently_Asked_Question {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.frequently_Asked_QuestionContainer {
  width: 80%;
  height: 715.780029296875px;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.frequently_Asked_QuestionHeader {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin: 30px;
}

.frequently_Asked_QuestionTitle {
  width: 870px;
  height: 75px;
  color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 23px;
  font-weight: 600;
  border-bottom: 1px solid #1f1f1e1a;
  margin: 10px;
}

@media (max-width: 600px) {
  .frequently_Asked_QuestionTitle {
    width: 100%;
  }
  .frequently_Asked_QuestionHeader {
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    margin: 0;
  }
  .frequently_Asked_QuestionTitle {
    height: fit-content;

  }
}
