.frequently_Asked_Question {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.frequently_Asked_QuestionContainer {
  width: 80%;
  height: 715.780029296875px;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.frequently_Asked_QuestionHeader {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin: 30px;
}

.frequently_Asked_QuestionTitle {
  width: 870px;
  height: 75px;
  color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 23px;
  font-weight: 600;
  border-bottom: 1px solid #1f1f1e1a;
  margin: 10px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.frequently_Asked_qnsAnswer {
  word-break: break-all;
  transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 20px;
}

.frequently_Asked_qnsAnswer.hidden {
  opacity: 0; /* Hidden state */
  max-height: 0; /* Collapse height */
}

.Arrow2 {
  rotate: 630deg;
}

@media (max-width: 600px) {
  .frequently_Asked_QuestionHeader {
    font-size: 28px;
    font-weight: 700;
    text-align: left;
    margin: 0;
    width: 95%;
  }
  .frequently_Asked_QuestionTitle {
    height: fit-content;
    font-size: 16px;
    width: 100%;
    padding: 16px;
  }

  .frequently_Asked_QuestionContainer {
    width: 95%;
  }

  .Arrow {
    width: 32px;
    height: 32px;
  }
  .Arrow2 {
    rotate: 630deg;
    width: 32px;
    height: 32px;
  }
}
