.data_collection {
  display: flex;
  justify-content: center;
  align-items: center;
  text-wrap: auto;
}
.list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}
.data_collection li {
  line-height: 30px;
  word-break: break-all;
  width: 50%;
}

@media (max-width: 600px) {
  .data_collection li {
    width: 80%;
  }
  .list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 100px 0 ;
  }
}
