.case_StudyContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.backgroundimage {
  /* background-image: url("/casestudy_1.png"); */
  background-repeat: no-repeat;
  width: 500px;
  height: 500px;
  position: absolute;
  bottom: 0;
  right: 60px;
}
.case_StudyTitle {
  font-size: 93.56px;
  font-weight: 700;
}
.case_StudyDescription {
  font-size: 24px;
  font-weight: 700;
}

@media (max-width: 600px) {
  .case_StudyContainer {
    flex-direction: column;
    width: 100%;
  }
  .case_StudyTitle {
    font-size: 58px;
    font-weight: 700;
  }
  .backgroundimage {
    width: 350px;
    height: 350px;
  }
  .imagecase2 {
    margin: 180px;
  }
}
