.aboutMain {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
}
.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  margin: 50px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 60%;
}
.header {
  width: 40%;
  font-size: 24px;
  font-weight: 700;
}

.context {
  width: 80%;
  line-height: 45px;
  font-size: 20px;
  font-weight: 400;
}
.aboutMainPic {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
    width: 100%;
  }
  .content {
    width: 100%;
  }

  .context {
    width: 100%;
    line-height: 36px;
  }

  .header {
    width: 100%;
    margin: 30px 0;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    margin: 0px;
  }
  .webTabsImage{
    width: 100%;
    height: 300px;
  }
}
