.WhoWeAreContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px;
}

.WhoWeAreArea {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.WhoWeAreImagearea {
  width: 50%;
}

.WhoWeAreImage {
  border-radius: 20px;
}

.WhoWeAreTextarea {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.WhoWeAreTextarea h2 {
  font-size: 46px;
  font-weight: 700;
}

.WhoWeAreText {
  font-size: 20px;
  width: 75%;
}

.WhoWeAreButton {
  background-color: #ffac33;
  border: none;
  color: black;
  width: 288px;
  height: 52px;
  border-radius: 100px;
  font-weight: 700;
  font-size: 16px;
}

@media (max-width: 600px) {
  .WhoWeAreContainer {
    margin: 80px 30px;
  }

  .WhoWeAreArea {
    display: flex;
    flex-direction: column-reverse;
  }

  .WhoWeAreTextarea {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    width: 100%;
  }
  .WhoWeAreTextarea h2 {
    font-size: 23px;
    font-weight: 700;
  }
  .WhoWeAreText {
    font-size: 14px;
    width: 100%;
  }

  .WhoWeAreImage {
    border-radius: 20px;
    width: 340px;
    object-fit: cover;
  }
  .WhoWeAreButton {
    width: 215px;
  }

  .WhoWeAreImagearea {
    width: 100%;
  }
}
