.services_We_ProvideContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.services_We_ProvideTitle {
  font-size: 45px;
  font-weight: 700;
  margin: 20px;
}
.BusinessBoxArea {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  gap: 50px;
  margin-top: 50px;
}

.BusinessTitle {
  font-size: 45px;
  font-weight: 700;
}

.BusinessBox1 {
  width: 378px;
  height: 252px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border-radius: 30px;
  margin-bottom: 60px;
}

.Box1title {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffac33;
}

.Box1text {
  font-size: 18px;
  text-align: center;
}

.image {
  border-radius: 24px;
}

@media (max-width: 1024px) {
  .BusinessBoxArea {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    gap: 50px;
  }
}

@media (max-width: 600px) {
  .services_We_ProvideTitleArea {
    width: 90%;
  }

  .BusinessBoxArea {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .BusinessTitle {
    font-size: 24px;
  }

  .Box1image {
    display: flex;
    justify-content: center;
  }

  .image {
    width: 93%;
  }

  .services_We_ProvideTitle {
    font-size: 28px;

    margin: 40px 0;
  }

  .Box1text {
    font-size: 14px;
  }
}
